## **Loops**

### **for**

In [ ]:
# For Loop
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
Fruits  = ["Apple ","Banana","Cherry"]
for fruits in Fruits:
    print(fruits)

Apple
Banana
Cherry

In [ ]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
word ="python"
for letter in word:
    print(letter)

p
y
t
h
o
n

In [ ]:
student= {
    "Name" : "Khan",
    "Roll no." : 15,
    "Grade" :"A",
}
for key in student:
    print(key," :",student[key])

Name  : Khan
Roll no.  : 15
Grade  : A

## **While Loop**

In [11]:
while True:
    user_input = input("Type 'quit' to exit: ")
    if user_input == "quit":
        break
    print("You typed:", user_input)

You typed:
You typed: 15454
You typed: 2540
You typed: 21445
You typed: 245
You typed: quiy

## **break**

In [13]:
for i in range(10):
    if i == 6:
        break
    print(i)   # stop at 5

0
1
2
3
4
5

  ## **continue**

In [15]:
for i in range(5):
    if i ==3:
        continue
    print(i)    # skip 3

0
1
2
4

## **pass**

In [19]:
for i in range(5):
    if i < 3:
        pass
    print(i)

0
1
2
3
4

In [21]:
for i in range(7):
    if i < 3:
        pass
    print(i)

0
1
2
3
4
5
6

## **Nested Loops**

In [22]:
for i in range(3):
    for j in range(2):
        print(f"i={i},j={j}")

i=0,j=0
i=0,j=1
i=1,j=0
i=1,j=1
i=2,j=0
i=2,j=1